h1{
    text-align: center;

}

fieldset{
    text-align: center;
    padding: 20px;
}

fieldset{
    div{
        margin: 15px;
        padding: auto;
    }
}
div{
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(29, 92, 173);
        padding: auto;
        
    }
}